<!--{template @admin/header}--> <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder"> <tr class="header"> <td colspan="7"> <b>推送日志</b> - <a href="?mod=push&code=queue">[ 返回队列 ]</a> </td> </tr> <tr class="tr_nav"> <td width="10%" bgcolor="#F4F8FC">类型</td> <td width="10%" bgcolor="#F4F8FC">目标</td> <td bgcolor="#F4F8FC"> <div class="tr_select">
数据 [
<form style="display:inline;" action="?mod=push&code=log&op=clear" method="post" onsubmit="return confirm('确认要删除吗？')">
删除 - <input name="clear_time" type="text" size="2" /> <select name="clear_unit" class="isearcher_select_list"> <option value="s">秒</option> <option value="m">分钟</option> <option value="h">小时</option> <option value="d">天</option> </select> <select name="clear_type" class="isearcher_select_list"> <option value="out">前</option> <option value="in">内</option> </select>
的内容
<input type="submit" value="确定"  class="is_submit_button"/> </form>
]
</div> </td> <td width="16%" bgcolor="#F4F8FC">原始结果</td> <td>发送时间</td> <td width="8%" bgcolor="#F4F8FC">管理</td> </tr> <!--{loop $list $one}--> <tr> <td>{$one['type']}.{$one['driver']}</td> <td>{$one['target']}</td> <td>
{eval
$data = unserialize($one['data']);
if (isset($data['subject']))
echo $data['subject'];
else
echo $data['content'];
}
</td> <td>{$one['result']}</td> <td>{echo date('Y-m-d H:i:s', $one['update'])}</td> <td>
[ <a href="">删除</a> ]
</td> </tr> <!--{/loop}--> <tr class="footer"> <td colspan="7">
{~page_moyo()}
</td> </tr> </table>
{template @admin/footer}