<!--{template header}-->
<style type="text/css">
<!--
.side-pic p{line-height:1;padding-bottom:10px;}
.intro{margin-top:30px; font-size: 14px;_display:inline;margin-left:8px;margin-right:16px;padding:0;}
-->
</style>

<div class="m960">
<div class="t_l">
<div class="t_area_out">
<div class="t_area_in">
	<p class="cur_title">友情链接</p>
	<div class="sect">
		<div class="nleftL" style="font-size: 13px;">
			<p>1、不链接有反动、色情、赌博等不良内容或提供不良内容链接的网站，以及网站名称或内容违反国家有关政策法规的网站；</p>
			<p>2、不链接含有病毒、木马，弹出插件或恶意更改他人电脑设置的网站、及有多个弹窗广告的网站；</p>
			<p>3、不链接网站名称和实际内容不符的网站，如贵站正在建设中，或尚未明确主题的网站，请不必现在申请收录，欢迎您在贵站建设完毕后再申请；</p>
			<p>4、不链接非顶级域名、挂靠其他站点、无实际内容，只提供域名指向的网站或仅有单页内容的网站；</p>
			<p>5、不链接在正常情况下无法访问的网站；</p>
			<p>6、注意：<a href="?mod=list&code=feedback">提交申请</a>前请做好本站的链接，否则不予通过。</p>
		</div>
	</div>
</div>
</div>
</div>

<div class="t_r">
	{~ui('widget')->load()}
	<div class="side-pic">
	   <p><img src="static/images/subscribe-pic1.jpg" /></p>
	   <p><img src="static/images/subscribe-pic2.jpg" /></p>
	   <p><img src="static/images/subscribe-pic3.jpg" /></p>
	</div>
</div>
</div>


</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{template footer}-->